@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";
@media screen and (min-width: 480px) {
    .content{
          margin: 0 auto;
          width: 80%;
        }
 }

 @media print {
    #aufgaben {page-break-after: always !important;}
    #loesungen {page-break-before: always !important;}
    .no-print, .no-print *
    {
        display: none !important;
    }
  }

td.nr {border-right: none; width: 1em; font-size: 0.8em; color:gray; padding: 0 2px !important;}
td.aufgabe {padding: 2px 2x !important;}

.intro-box {text-decoration: none !important;}
/*
td {
  padding: 10px !important;
}
*/
.fraction {
  display: inline-block;
  font-size: 1.0em;
  padding: 0 0.2em;
  text-align: center;
  vertical-align: middle;
}
.fraction:before {
  border-bottom: 1px solid #000;
  content: attr(top);
  display: block;
  line-height: 1.2em;
  padding: 0 0.2em;
}
.fraction:after {
  content: attr(bottom);
  display: block;
  line-height: 1.2em;
  padding: 0 0.2em;
}

.neu {font-weight: bold; background-color: red; color: white; border-radius: 3px; padding: 1px 1px;}